<header>
  <h1 class="text-white py-24 px-16">Address Book</h1>
</header>

<nav class="d-flex align-items-center justify-content-betwwen px-16">
  <ul class="d-flex">
      <li class="nav-item">
          <a class="text-white nav-link active" href="#">HOME</a>
      </li>
      <li class="nav-item">
          <a class="text-white nav-link" routerLink="contacts/add-contact" routerLinkActive="router-link-active shubham" >+ ADD</a>
      </li>
  </ul>
  <div>
      <img src="assets/blog-icon.png" alt="">
  </div>
</nav>

<section class="mx-16 my-24">
  <h4 class="mb-24">CONTACTS</h4>
  <router-outlet></router-outlet>
</section>

<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
    *ngIf="isLoading">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>